.header-info {
  padding: 5px 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #8caedb69;
  box-shadow: 0px 0px 16px 0px #8191e9f2;
}
.row {
  margin: 0px;
}

.navbar-color a {
  color: rgb(240, 238, 240);
}
.navbar a:hover {
  color: rgba(240, 23, 8, 0.979);
}
.navbar-bg {
  background-color: rgba(7, 1, 37, 0.966);
}
.navbar-brand {
  font-weight: bold;
}
.navbar-toggler-icon {
  color: rgb(44, 3, 3);
  width: 1em;
  height: 1em;
}
.navbar-toggler {
  background: white;
}
.dropdown-item {
  background-color: #0f092c;
}
