<div class="container">
   
    <div class="row title" id="index_row">
        <div class="col-md-6">
            <h2>Todays Payments:0</h2>
        </div>
        <div class="col-md-6">
            <form>
                <div class="form-group">

                    <input type="text" class="form-control" id="formGroupExampleInput"
                        placeholder="Search Here Name, Mobile, Father Name, Class">
                </div>
            </form>
        </div>

    </div>
    <hr>

    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Mode</th>
                    <th scope="col">Father</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Purpose</th>
                    <th scope="col">Class</th>
                    <th scope="col">Date</th>

                </tr>
            </thead>
            <tbody>
              
                <tr id='total_row'>
                    <td colspan="2" id='text_right'>Total Collection</td>
                    <td colspan="2" class='text_left'>Rs. 0</td>
                    <td colspan="3" class='text_left'>Total Due: Rs. 0</td>
                    <td colspan="2" class='text_left'>Discount: Rs. 0</td>


                </tr>
                        <tr id='Available_amount'>
                            <td colspan="2" id='text_right'>Total Collection</td>
                            <td colspan="7" class='text_left'>Rs. 0</td>
                            
                        </tr>
            </tbody>
        </table>
    </div>
 
</div>