<div class="container">
<div class="row title">
    <h2>Dashboard</h2>
</div>
<div class="row ">
<div class="col-xs-12 col-sm-4 col-md-3">
    <a routerLink='/admission'>
    <div class="card admission">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <p>Admission</p>
    </div></a>
</div>
<div class="col-xs-12 col-sm-4 col-md-3">
    <a routerLink='/fee'>
    <div class="card payment">
    <i class="fa fa-check-square-o" aria-hidden="true"></i>
        <p>Payment</p>
    </div></a>
</div><div class="col-xs-12 col-sm-4 col-md-3">
    <a routerLink='/exam'>

    <div class="card exam">
    <i class="fa fa-pencil" aria-hidden="true"></i>
        <p>Examination</p>
    </div></a>
</div><div class="col-xs-12 col-sm-4 col-md-3">
    <a routerLink='/development'>
    <div class="card activity">
    <i class="fa fa-asterisk" aria-hidden="true"></i>
        <p>Activity</p>
    </div></a>
</div>
<div class="col-xs-12 col-sm-4 col-md-3">
    <a routerLink='/transport'>
    <div class="card transport">
        <i class="fa fa-road" aria-hidden="true"></i>
        <p>Transport</p>
    </div></a>
</div>
<div class="col-xs-12 col-sm-4 col-md-3">
    <a routerLink='/development'>

    <div class="card employee">
    <i class="fa fa-user" aria-hidden="true"></i>
        <p>Employee</p>
    </div></a>
</div>
<div class="col-xs-12 col-sm-4 col-md-3">
    <a routerLink='/development'>

    <div class="card finance">
    <i class="fa fa-suitcase" aria-hidden="true"></i>
        <p>Finance</p>
    </div></a>
</div>
<div class="col-xs-12 col-sm-4 col-md-3">
    <a routerLink='/development'>

    <div class="card settings">
        <i class="fa fa-cog" aria-hidden="true"></i>
        <p>App Settings</p>
    </div></a>
</div>
</div></div>