<div class="container">
    <div class="row title">
        <h2>Admission List</h2>
    </div>
    <br>
    <div class="form-row">
        <div class="col-md-2  mb-3">.</div>

        <div class="col-md-2  mb-3">
          
            <select class="custom-select" id="validationCustom04" required>
                <option selected disabled value="">2019-2020</option>
                <option>...</option>
                <option value="1">2019-2020</option>
                <option value="2">2020-2021</option>
                <option value="3">2020-2021</option>
            </select>
            <div class="invalid-feedback">
                Please select a valid Year.
            </div>
        </div>
        <div class="col-md-2 mb-3">
           
            <select class="custom-select" id="validationCustom04" required>
                <option selected disabled value="">Choose Class</option>

                <option value="1">First</option>
                <option value="2">Second</option>
                <option value="3">Third</option>
            </select>
            <div class="invalid-feedback">
                Please select a valid Exam Class.
            </div>
        </div>
        <div class="col-md-2 mb-3">
          
            <select class="custom-select" id="validationCustom04" required>
                <option selected disabled value="">Choose Section</option>
            
                <option value="1">Section A</option>
                <option value="2">Section B</option>
                <option value="3">Section C</option>
            </select>
            <div class="invalid-feedback">
                Please select a valid Exam Section.
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <button class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
        </div>

    </div>
    <hr>
    <div class="row">
        <h5>No Recods..!</h5>
    </div>
   
 
</div>