<div class="container">
    <div class="row title">
        <h2>Transport Users</h2>
    </div>
    <br>
    <div class="form-row">
        <div class="col-md-1  mb-3">.</div>

        <div class="col-md-2  mb-3">

            <select class="custom-select" id="validationCustom04" required>
                <option selected disabled value="">2019-2020</option>
                <option>...</option>
                <option value="1">2019-2020</option>
                <option value="2">2020-2021</option>
                <option value="3">2020-2021</option>
            </select>
            <div class="invalid-feedback">
                Please select a valid Year.
            </div>
        </div>
        <div class="col-md-2 mb-3">

            <select class="custom-select" id="validationCustom04" required>
                <option selected disabled value="">Choose Class</option>

                <option value="1">First</option>
                <option value="2">Second</option>
                <option value="3">Third</option>
            </select>
            <div class="invalid-feedback">
                Please select a valid Exam Class.
            </div>
        </div>
        <div class="col-md-2 mb-3">

            <select class="custom-select" id="validationCustom04" required>
                <option selected disabled value="">Choose Section</option>

                <option value="1">Section A</option>
                <option value="2">Section B</option>
                <option value="3">Section C</option>
            </select>
            <div class="invalid-feedback">
                Please select a valid Exam Section.
            </div>
        </div>
            <div class="col-md-2 mb-3">
            
                <select class="custom-select" id="validationCustom04" required>
                    <option selected disabled value="">All Root</option>
            
                    <option value="1">Section A</option>
                    <option value="2">Section B</option>
                    <option value="3">Section C</option>
                </select>
                <div class="invalid-feedback">
                    Please select a valid Exam Section.
                </div>
            </div>
        <div class="col-md-2 mb-3">
            <button class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <h5>Search Results:1</h5>
        </div>
        <div class="col-md-6">
            <form>
                <div class="form-group">

                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Search Here Name, Mobile, Father Name, Class">
                </div></form>   
        </div>

    </div><hr>
    
        <div class="row">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col"> Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Total Amount</th>
                        <th scope="col">For Months</th>
                        <th scope="col">Father</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Purpose</th>
                        <th scope="col">Class</th>
                        <th scope="col">Date</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>112</td>
                        <td>Ranveer Kumar</td>
                        <td>Rs. 500</td>
                        <td>2-Months</td>
                        <td>Siyaram</td>
                        <td>8970585459</td>
                        <td>Transport Fee</td>
                        <td>PLAY GROUP</td>
                        <td>2020-03-23 09:34:23</td>

                    </tr>
        <tr id='total_row'>
            <td colspan="2" id='text_right'>Total Collection</td>
            <td colspan="7" id='text_left'>Rs. 500</td>

        </tr>
                </tbody>
            </table>
        </div>
        
    </div>
 
