<div class="container">
    <div class="row title">
        <h2><i class="fa fa-user" aria-hidden="true"></i> New Admission</h2>
    </div>
    <div class="form-row ">
        <div class="col-md-5 student_column">
            <h4>Student Details</h4>
                <div class="form-group">
                    <label for="sname">Student Name :</label>
                    <input id="sname" type="text" class="form-control">
                </div>
                <label for="date0of-birth">Date of Birth:</label>
                <div class="row">
                   
            <div class="col-md-4">
                
                <select class="custom-select" id="date" required>
                    <option selected disabled value="">Date</option>
            
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                </select>
                <div class="invalid-feedback">
                    Please select a valid Date.
                </div>
            </div>
            <div class="col-md-4">
              
                <select class="custom-select" id="month" required>
                    <option selected disabled value="">Month</option>
            
                    <option value="1">12</option>
                    <option value="2">11</option>
                    <option value="3">10</option>
                </select>
                <div class="invalid-feedback">
                    Please select a valid Month.
                </div>
            </div>
            <div class="col-md-4">
              
                <select class="custom-select" id="year" required>
                    <option selected disabled value="">Year</option>
            
                    <option value="1">Preparatory</option>
                    <option value="2">Mid term</option>
                    <option value="3">Final</option>
                </select>
                <div class="invalid-feedback">
                    Please select a valid Year.
                </div>
            </div>
            </div>
                    <label for="Admission-class">Admission Class:</label>
                    <div class="row">
                    
                        <div class="col-md-6">
                    
                            <select class="custom-select" id="date" required>
                                <option selected disabled value="">Choose Class</option>
                    
                                <option value="1">First</option>
                                <option value="2">Second</option>
                                <option value="3">Third</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid Class.
                            </div>
                        </div>
                        <div class="col-md-6">
                    
                            <select class="custom-select" id="month" required>
                                <option selected disabled value="">Choose Section</option>
                    
                                <option value="1">Section A</option>
                                <option value="2">Section B</option>
                                <option value="3">Section C</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid Section.
                            </div>
                        </div>
                      
                    </div>
                        <label for="date0of-birth">Date of Admission:</label>
                        <div class="row">
                        
                            <div class="col-md-4">
                        
                                <select class="custom-select" id="date" required>
                                    <option selected disabled value="">Date</option>
                        
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                    <option value="3">03</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid Date.
                                </div>
                            </div>
                            <div class="col-md-4">
                        
                                <select class="custom-select" id="month" required>
                                    <option selected disabled value="">Month</option>
                        
                                    <option value="1">12</option>
                                    <option value="2">11</option>
                                    <option value="3">10</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid Month.
                                </div>
                            </div>
                            <div class="col-md-4">
                        
                                <select class="custom-select" id="year" required>
                                    <option selected disabled value="">Year</option>
                        
                                    <option value="1">Preparatory</option>
                                    <option value="2">Mid term</option>
                                    <option value="3">Final</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid Year.
                                </div>
                            </div>
                        </div>
                        <label for="date0of-birth">Admission Session:</label>
                        <div class="row">
                        
                            <div class="col-md-12">
                        
                                <select class="custom-select" id="date" required>
                                    <option selected disabled value="">Choose</option>
                        
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                    <option value="3">03</option>
                                </select>                               
                                <div class="invalid-feedback">
                                    Please select a valid Date.
                                </div>
                            </div></div>
                        <div class="form-group">
                            <label for="sclname">Old School :</label>
                            <input id="sclame" type="text" class="form-control">
                        </div>
        </div>
        <div class="col-md-7 parent_column">
                    <h4>Parents Details</h4>
<div class="form-inline">
    <div class="col-md-6 form-group">
        <label class="col-form-label col-md-6" for="fname">Father Name</label>
        <input type="text" class="form-control col-md-6" name="fname" id="fname" />
    </div>
    <div class="col-md-6 form-group">
        <label class=" col-form-label col-md-6" for="mname">Mother Name</label>
        <input type="text" class="form-control col-md-6" name="mname" id="mname" />
    </div>
     <div class="col-md-6 form-group">
        <label class="col-form-label col-md-6" for="number">Mobile No.</label>
        <input type="text" class="form-control col-md-6" name="number" id="number" />
    </div>
    <div class="col-md-6 form-group">
        <label class=" col-form-label col-md-6" for="adhar">Adhar No.</label>
        <input type="text" class="form-control col-md-6" name="adhar" id="adhar" />
    </div><div class="col-md-6 form-group">
        <label class="col-form-label col-md-6" for="region">Region</label>
        <input type="text" class="form-control col-md-6" name="region" id="region" />
    </div>
    <div class="col-md-6 form-group">
        <label class=" col-form-label col-md-6" for="caste">Caste</label>
        <select class="custom-select col-md-6" id="caste" required>
            <option selected disabled value="">Choose</option>
    
            <option value="1">01</option>
            <option value="2">02</option>
            <option value="3">03</option>
        </select>
    </div>
    <div class="col-md-6 form-group">
        <label class=" col-form-label " for="occupation">Parents Occupation</label>
        <input type="text" class="form-control " name="occupation" id="occupation" />
    </div>
    <div class="col-md-6 form-group">
        <label class="col-form-label " for="id-proof">Any Id Proof No.</label>
        <input type="text" class="form-control " name="id-proof" id="id-proof" />
    </div></div>
<div class="form-group">
    <label for="address">Address</label>
    <textarea class="form-control" id="address" rows="3"></textarea>
</div>
<div class="row">
<div class="col-md-6 btn_primary_right"><button class="btn btn-primary">Register</button></div>
<div class="col-md-6"><button class="btn btn-warning">Close All</button></div>
</div>

        </div>

   

    </div>
    
   
</div>